
body{
    font-family: 'Poppins', sans-serif;
}

/* Navbar */

.navbar{
    background-color: white;
    color: black;
}

.nav-item{
    padding: 0 18px;
}



.navbar:hover{
    color: #00FFFF;
}

.navbar-brand{
    margin-left: 50px;
}

/* Title */

#title{

}    

.title-text{
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin-left: 50px;
    padding-top: 100px;
    font-size: 6.25vw;
    position: absolute;
    bottom: 250px;  
}

.bg-title{
    width: 1007px;
    height: 500px;
}


/* Features */

.features{
    text-align: center;
    margin-top: 40px;
}

.features-text{
    margin-top: 20px;
}

.fa-solid{
    margin: 20px;
}